.links {
  list-style: none;
  margin: 0;
  padding: 21px 0 16px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) {
    padding: 7px 0 0;
    border-top: none;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.links__item {
  display: flex;
  padding: 0 8px;
  align-items: center;

  @media (min-width: $tablet-width) {
    scale: 1.3;
  }
}

.social-link {
  padding: 0 8px;
  color: #666666;

  @media (min-width: $tablet-width) {
    padding: 22px 6px;
  }

  &:hover {
    color: #68b738;
  }

  &:active svg {
    opacity: 0.3;
  }
}
