input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}

.control--radio > input {
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.control--radio > span {
  display: grid;
  grid-template-columns: 30px max-content;
  column-gap: 15px;
  align-items: center;
  user-select: none;
  position: relative;

  @media (min-width: $tablet-width) {
    column-gap: 31px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 38px 1fr;
    align-items: flex-start;
    column-gap: 20px;
  }
}

.control__lead {
  padding: 0;

  span {
    @media (min-width: $tablet-width) {
      padding: 13px 0;
    }
  }
}


.control--radio > span::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  outline: 1px solid #adb5bd;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
  }
}

.control--radio > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #cdcdcd;
}

.control--radio > input:checked + span::before {
  outline: 1px solid #68b738;
}


.control--radio > input:checked + span::after {
  content: "";
  position: absolute;
  left: 9px;
  border-radius: 50%;
  background-color: #68b738;
  height: 14px;
  width: 14px;
  top: 7px;

  @media (min-width: $tablet-width) {
    height: 18px;
    width: 18px;
    left: 11px;
    top: 12px;
  }
}

.control--radio > input:disabled + span::before {
  background-color: #e9ecef;
}


.control--checkbox > input {
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.control--checkbox > span {
  display: grid;
  grid-template-columns: 30px 1fr;
  column-gap: 15px;
  align-items: center;
  user-select: none;
  position: relative;

  @media (min-width: $tablet-width) {
    column-gap: 28px;
  }
}

.control--checkbox > span::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  outline: 1px solid #adb5bd;
  margin-right: 0.5em;

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 40px;
    margin-right: 0;
  }
}

.control--checkbox > input:not(:disabled):not(:checked) + span:hover::before {
  border-color: #cdcdcd;
}

.control--checkbox > input:checked + span::before {
  border-color: #cdcdcd;
}

.control--checkbox > input:checked + span::after {
  content: "";
  position: absolute;
  left: 3px;
  background-image: url("../img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 26px;
  width: 26px;
}

.control--checkbox > input:focus-visible + span::before {
  outline: 2px solid #000000;
}

.control--checkbox > input:disabled + span::before {
  background-color: #e9ecef;
}

.control--radio > input:focus-visible + span::before {
  outline: 2px solid #000000;
}

.control--radio > span:focus {
  outline: 1px solid #000000;
}

.control__input:disabled + .control__lead {
  opacity: 0.3;
}

.input__field:disabled + .control__lead {
  opacity: 0.3;
}

.control__input--radio {
  height: 40px;
  width: 40px;
  margin: 0;
}
