input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: textfield;
}

.input__field:disabled + .control__lead {
  opacity: 0.3;
}
