$font-head: "Oswald", sans-serif;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;

$button-background-default: #68b738;
$button-color-default: #ffffff;
$button-color-hover: #5eaa2f;
$button-background-another: hsl(0, 0%, 95%);
$button-color-another: #444444;
